.card {
  flex-basis: 40%;
  width: 300px;
  border: 3px solid #F9CF93;
  border-radius: 10px;
  background-color: #FAEEE0;


}

.card-header {
  text-align: center;
  border-bottom: 2px solid #F9E4C8;
  height: 100%;
  color: #d2d2d2;
  background-size: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 5px;
}

.awatar-section {
  margin: 10px auto 10px auto;
  width: 200px;
  height: 200px;

}

.awatar-section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-body {
  text-align: center;
  padding: 20px 5px;
}

.rewards-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}

.score {
  font-size: 20px;
}

.score span {
  display: block;
  font-size: 30px;
  font-weight: 700;
}