* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.wrapper {
  min-height: 100vh;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  place-items: center;
  margin: 0 20px 0 20px;
}